@import '@fontsource-variable/dm-sans/wght';
@import '@fontsource/dm-serif-display/400.css';
@import '@fontsource/dm-serif-display/400-italic.css';
@import "tailwindcss";

/* 🚀 Bloque especial para que Tailwind v4 cree tus clases automáticamente */
@theme {
    --color-primary: #0d0d0f;
    --color-secondary: #F5F3EE;
    --color-tertiary: #1A1A1F;
    --color-lemon: #C8F135;
    --color-lemon-hover: #A8D420;
    /* --color-text-lemon: #8A8880; */
    
    --font-primary: 'DM Sans Variable';
    --font-secondary: 'DM Serif Display', serif;

    --breakpoint-xs: 30rem; /* 480px */
}


/* La fuente primaria es heredada naturalmente por el body */
body {
    font-family: var(--font-primary);
}

/* Header */

.version::before {
    content: '●';
    font-size: 8px;
}

code ol li::marker {
    color: #333;
    content: counter(list-item) '  ';
}

.show-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4.90rem;
    right: 0;
    width: 100%;
    background-color: var(--color-primary);
    padding: 3rem;
}

#ticker {
    position: relative;
    animation: animated-ticker 50s linear infinite normal backwards;
}

@keyframes animated-ticker {
    from {
        left: 0;
    }

    to {
        left: -4551px;
    }
}